@using Ictshop.Models
@model Sanpham


@{
    ViewBag.Title = "xemchitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>CHI TIẾT SẢN PHẨM</h3>
<div class="product">
    <div>
        <img src="@Url.Content("~/HinhanhSP/" +@Model.Anhbia)" class="chitietsp-img" />
    </div>
    <div style="padding-left:20px">
        <h3> @Model.Tensp</h3>
        <h3 style="color:red">Giá: @Model.Giatien</h3>
        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = Model.Masp, @strURL = Request.Url.ToString() }))
        {
            <input type="submit" value="Mua hàng" id="bgnGioHang" />

        }
    </div>
</div>
<div>
    @Model.Mota
</div>

<style>
    .chitietsp-img{
        width:300px;
        height:300px;
    }
    .product{
        display:flex;
    }
</style>
